{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h2>機能一覧</h2>
    <ul>
        <li>店舗別ログイン機能</li>
        <li>売上情報の入力・検索</li>
        <li>売上情報のインポート</li>
        <li>売上集計情報の閲覧</li>
    </ul>
    <h2>売上情報の追加</h2>
    <p>売上情報を追加する方法は2つあります。直接数値を入力する方法とCSVデータとしてインポートする方法です。<br>
        まずは、直接システム上へ入力する方法からご説明します。</p>
    <h3>売上情報の入力</h3>
    <ol>
        <li>画面上部メニューの「一覧表示」をクリックし、一覧表示画面を表示させます。</li>
        <li>画面右上の「新規」ボタンをクリックします。</li>
        <li>「店舗」「売上日」「売上額」「仕入額」の項目がありますので、それぞれ入力してください。<br>
            （※売上のみ入力したい場合は、仕入額の欄は0を入力してください。<br>
            卸部門からの仕入については卸部門にて仕入額をCSVデータとしてインポートするので、各店舗はその分の仕入額は入力しないでください。）</li>
        <li>右上の保存を押してください。</li>
        <li>一覧画面の一番上のデータが直前に入力したデータですので、ご確認をお願いします。</li>
    </ol>
    <h3>売上情報のインポート(※卸部門のみ)</h3>
    <ol>
        <li>[CSVデータ出力]を開きます。</li>
        <li>「参照」をクリックして出力先を選択します。</li>
        <li>いつからのデータを出力したいか選択します。(※既にインポートされたデータを取り込んでもデータは反映されません。)</li>
        <li>[売上集計システム]を開きます。</li>
        <li>「データインポート」を選択します。</li>
        <li>「ファイルを選択」で先程出力したデータを選択します。</li>
        <li>「実行」をクリックします。</li>
        <li>一覧画面の一番上からのデータが直前に入力したデータですので、ご確認をお願いします。</li>
    </ol>
    <h2>売上情報の検索</h2>
    <ol>
        <li>右上の「検索」をクリックします。</li>
        <li>「部門」「売上年」「売上月」で検索することができます。</li>
    </ol>
    <h2>売上集計情報の閲覧</h2>
    <ol>
        <li>「月集計」または「年集計」をクリックします。</li>
        <li>集計したい店舗を選択します。</li>
        <li>集計したい期間を選択します。</li>
        <li>「検索」ボタンをクリックします。</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>お問い合わせ</h4>
            <p>その他ご質問等のお問い合わせはこちらからどうぞ</p>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}