{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load sale_extras %}
<div class="container">
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">検索条件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="filter" method="get">
                    <div class="modal-body">
                        {{filter.form|crispy}}
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-outline-secondary" data-dismiss="modal">戻る</a>
                    <button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
                </div>
            </div>
        </div>
    </div>

    <form class="form-inline sale_year" action="{% url 'year' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="mode" class="calc_month">
        {{search_form|crispy}}
        <button class="btn btn-primary ">検索</button>
    </form>
    <table class="month_table table table-sm table-bordered text-sm-left table-striped">
        <thead class="thead-dark">
            <tr>

                <th scope="col" colspan="2">
                    <div class="text-center">月</div>
                </th>
                {% for i in header %}
                <th scope="col">
                    <div class="text-center">{{ i }}</div>
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for i in record %}
            <tr>
                {% for j in i %}
                <td>
                    {% if forloop.first %}
                    <div class="text-center">{{ j }}</div>
                    {% else %}
                    <div class="text-center">{{ j | intcomma}}</div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>

                <th scope="col" colspan="2">
                    <div class="text-center">合計</div>
                </th>
                {% for i in footer %}
                <th scope="col">
                    <div class="text-center">{{ i|intcomma }}</div>
                </th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>

</div>
{% endblock %}