html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}

form{
    margin: 10px;
}

.container{
    padding-top: 10px;
}
.container .text-muted {
    margin: 20px 0;
    text-align: right;
}
.mini{
    padding: 0 10px;
    margin: 0;
}

.table-sm td{
    padding: 0 0.2rem;
}
#id_Calc_Month_day{
    display: none;
}
.calc_month label{
    margin: 10px;
}
.sale_year #id_Calc_Month_month{
    display: none !important;
}
