html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
}

form {
    margin: 10px;
}

.container {
    padding-top: 10px;
}

.container .text-muted {
    margin: 20px 0;
    text-align: right;
}

.mini {
    padding: 0 10px;
    margin: 0;
}

.table-sm td {
    padding: 0 0.2rem;
}

#id_Calc_Month_day {
    display: none;
}

.calc_month label {
    margin: 10px;
}

.sale_year #id_Calc_Month_month {
    display: none !important;
}

@media screen and (max-width: 640px) {
    .filter {
        width: 90%;
    }

    .filter thead {
        display: none;
    }

    .filter tr,
    .filter td {
        display: block;
        width: 100%;
        position: relative;
    }

    .filter td:first-child:before {
        box-sizing: border-box;
        font-weight: bold;
        height: 40px;
        padding: 10px;
        position: absolute;
        top: -41px;
        left: -0.2%;
        display: block;
        width: 100.5%;
    }

    .filter td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px;
    }

    .filter tr {
        margin-bottom: 5px;
    }
}